body{
    background: #1b1b1b;
    color: #eee;
    text-align: center;
}
h1{
    color: aqua;
    text-shadow: -2px 5px 5px 15px rgba(0, 255, 255, 0.726);
}
#container{
    border: 1px solid #eee;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}
.result{
    font-size: 2em;
    color: aqua;
}